$font-family-primary: "Source Sans Pro", sans-serif;
$font-family-secondary: "Open Sans Condensed", sans-serif;

$color-white: #ffffff;
$color-black: #222222;
$color-primary: #0b333e;
$color-secondary: #f2f2f2;
