/* Colors variables */
$color-black: #000000;
$color-grey: #f2f2f2;
$color-white: #ffffff;
$color-primary: #043440;
$color-success: green;

/* Sections variables */
$section-padding-y-default: 3rem;
$section-padding-x-default: 6rem;
$navigation-height-phone: 4.25rem;