/*****************************/
/*** Global and Miscellaneous ***/
/*****************************/
html {
    font-size: $font-size-default;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    body {
        font-family: $font-family-default;
        color: $color-black;

        @import 
            "header",
            "navigation";

        @import "main";

        @import "footer";
    }
}
