.app-main {
    section {
        padding: $section-padding-y-default $section-padding-x-default;
        text-align: center;

        @include for-tablet() {
            padding: $section-padding-y-default calc(#{$section-padding-x-default} / 2);
        }

        @include for-phone() {
            padding: calc(#{$section-padding-y-default} / 2) calc(#{$section-padding-x-default} / 4);
        }

        h2 {
            margin: $section-padding-y-default 0;
            font-size: 3rem;
            text-transform: uppercase;

            @include for-phone() {
                font-size: 2.5rem;
            }
        }
    }

    @import
        "../pages/homepage";
}