.app-navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    padding: calc(#{$section-padding-y-default} / 2) $section-padding-x-default;
    background-color: transparent;
    transition: background-color 0.5s;

    @include for-tablet() {
        padding: calc(#{$section-padding-y-default} / 2) 0;
        width: 100vw;
    }

    @include for-phone() {
        top: inherit;
        left: 0;
        bottom: 0;
        padding: 0.5rem 0 0.25rem;
        background-color: $color-primary;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include for-tablet() {
            justify-content: center;
        }

        @include for-phone {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: flex-end;
            justify-content: center;
        }

        li {
            a {
                margin: 0 1rem;
                font-family: $font-family-headings;
                font-size: 1.5rem;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                color: rgba($color-white, 0.85);
                border-bottom: 3px dashed transparent;
                text-shadow: 1px 1px 0 rgba($color-black, 0.5);
                transition: all 0.5s;

                @include for-phone {
                    display: block;
                    margin: 0;
                    font-size: 0.6rem;
                    text-align: center;
                }

                &:hover {
                    color: rgba($color-white, 1);
                    border-color: $color-white;

                    @include for-phone {
                        border-color: transparent;
                    }
                }

                i {
                    display: none;

                    @include for-phone {
                        display: block;
                        margin-bottom: 0.5rem;
                        font-size: 2.25rem;
                    }
                }

                span {
                    @include for-phone {
                        display: none;
                    }
                }
            }
        }
    }
}

&.scrolled {
    .app-navigation {
        background-color: $color-primary;
    }
}
